/*
 * Brand Colors
 */
$primary: #1E81BC;
$secondary: #ef3e42;
$tertiary: #00a0ae;
$quaternary: #F2EF57;

/*
 * Typography
 */
$h1: 3.157em;
$h2: 2.369em;
$h3: 1.777em;
$h4: 1.333em;
$h5: 1em;
$h6: 0.5em;
$p: 1.333em;
